#ary-card{
    border : 5px solid black;
    width : 250px;
    height : 250px;
    margin: 20px;
    background-color: lightblue;
}

img{
    width : 120px;
    height : 120px;
    border-radius: 50%;
    margin-top: 20px;
}