#card{
    border: 2px solid #795d5d;
    height: 150px;
    width: 250px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #deaaaa;
    text-align: center;
}