.auth-container {
  background-color: coral;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  margin: 60px auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  text-align: center;
}

.auth-container h2 {
  color: white;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-container input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
}

.auth-btn {
  background-color: white;
  color: coral;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background-color: #ff7043;
  color: white;
}
